body {
  background: #EEE;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Katibeh', cursive;
  font-size: 50px;
  padding: 10;
  text-align: center;
  letter-spacing: 6px;
  color: white;
  background-color: #4E82AB;
}

table {
  height: 20%;
  left: 10%;
  margin: 10px auto;
  overflow-y: scroll;
  position: static;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Tajawal', sans-serif;
  font-weight: 600;
  color: darkslategray;
  direction: rtl;    
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.word-pic {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin: 4px;
}